{% extends 'base.html.twig' %}

{% block title %}AlimenterController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('Front/Transaction/alim.css') }}">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="Title">Charge Your Card</h2>

                {{ form_start(form, {'attr': {'class': 'form', 'id': 'stripe-payment-form'}, 'method': 'POST', 'action': path('payment_complete')}) }}

                <div class="form-group">
                    <label class="form-label" for="amount">Amount to Charge (USD)</label>
                    {{ form_widget(form.amount, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="cardNumber">Card Number</label>
                    {{ form_widget(form.cardNumber, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="form-group">
                    <label class="form-label" for="expirationDate">Expiration Date (MM/YY)</label>
                    {{ form_widget(form.expirationDate, {'attr': {'class': 'form-control'}}) }}
                </div>
                <input type="hidden" id="alimenter_stripeToken" name="alimenter_stripeToken"> <!-- Add this line -->
                <div class="form-group">
                    <label class="form-label" for="cvc">CVC</label>
                    {{ form_widget(form.cvc, {'attr': {'class': 'form-control'}}) }}
                </div>

                {{ form_widget(form.stripeToken, {'attr': {'hidden': 'true'}}) }}

                <button id="pay-btn" class="btn-submit" type="submit">Okay</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        let stripe = Stripe("pk_test_51OpzhYD1qesDrnipXtFsl75UNAsuYHMyxHdYyjTAKLJmdDR7iGYCuztiyYWfRU00Dgejvny9XXkSE6VVGI20OzuC00etrVdAlL");
        let elements = stripe.elements();
        let cardElement = elements.create('card');
        cardElement.mount('#card-element');

        function handlePayment(event) {
            event.preventDefault();

            document.getElementById("pay-btn").disabled = true;
            stripe.createToken(cardElement).then(function(result) {
                if (result.error) {
                    document.getElementById("pay-btn").disabled = false;
                    alert(result.error.message);
                } else {
                    // Set the token ID in the form and submit
                    document.getElementById("alimenter_stripeToken").value = result.token.id;
                    document.getElementById("stripe-payment-form").submit();
                }
            });
        }

        // Attach handlePayment function to the form's submit event
        document.getElementById("stripe-payment-form").addEventListener("submit", handlePayment);
    </script>
{% endblock %}
